@font-face {
    font-family: "HarmonyOS_Sans_SC_Black";
    src: url("@/assets/font/HarmonyOS_Sans_SC_Black.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HarmonyOS_Sans_SC_Black";
    src: url("@/assets/font/HarmonyOS_Sans_SC_Bold.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HarmonyOS_Sans_SC_Black";
    src: url("@/assets/font/HarmonyOS_Sans_SC_Light.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HarmonyOS_Sans_SC_Black";
    src: url("@/assets/font/HarmonyOS_Sans_SC_Medium.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HarmonyOS_Sans_SC_Black";
    src: url("@/assets/font/HarmonyOS_Sans_SC_Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HarmonyOS_Sans_SC_Black";
    src: url("@/assets/font/HarmonyOS_Sans_SC_Thin.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Skygraze;
    src: url("@/assets/font/Skygraze.otf");
    font-weight: normal;
    font-style: normal;
  }


